body {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    font-size: 1.2rem;
    color: #333;
    width: 800px;
}

header, 
.seed-colour,
.return-colours-number-div,
.colour-scheme
 {
    display: flex;
}

.seed-colour,
.return-colours-number-div,
.colour-scheme
 {
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
 }

header {
    justify-content: center;
    padding: 1em;
    background-color: #7170EF;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 2em;
}

.colour-scheme-list,
.generate-colour-scheme,
.seed-colour-input,
.return-colours-number {
    font-family: "Kalam", cursive;
    font-size: 1.2rem;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.colour-scheme-list,
.seed-colour-input {
    height: 1.5em;
}

.seed-colour-input {
    width: 100%;
}
.generate-colour-scheme {
    background-color: #fff;
    height: 3.5em;  
    padding: 0 1em;  
}

.generate-colour-scheme:hover {
    background-color: #C6C5F9;
    cursor: pointer;
}

.colour-scheme-output-colours {
    
    height: 20em;
    background-color: #F8ADFA;
        
}

.colour-scheme-output-text {
    text-align: center;
}

.return-colours-number {
    height: 1.3em;
    width: 2em;
    text-align: center;
}

.colour-scheme-output {
    display: grid;
    grid-template-columns: repeat(1, auto); 
}

.colour-scheme-output-3 {
    display: grid;
    grid-template-columns: repeat(3, auto); 
}

.colour-scheme-output-4 {
    display: grid;
    grid-template-columns: repeat(4, auto); 
}

.colour-scheme-output-5 {
    display: grid;
    grid-template-columns: repeat(5, auto); 
}

.colour-scheme-output-6 {
    display: grid;
    grid-template-columns: repeat(6, auto); 
}

.colour-scheme-output-7 {
    display: grid;
    grid-template-columns: repeat(7, auto); 
}

.colour-scheme-output-8 {
    display: grid;
    grid-template-columns: repeat(8, auto); 
}
